* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: left;
    font-size: 20px;
    color: darkgray;
    text-transform: uppercase;
}

body {
    width: 100%;
    border: solid black;
    padding: 10px;
    background-color: rgb(200, 200, 200);
}

#film_body {
    background-color: lightyellow;
}

section {
    border-bottom: solid blue 5px;
    padding: 10px;
}

section.withPhoto {
    display: flex;
}

div {
    width: 100%;
}

img {
    border: solid 3px brown;
    width: 200px;
    height: 300px;
}

h4 {
    width: 100%;
    color: green;
    display: flex;
    justify-content: right;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: 12px;
}


.photoes {
    width: 100%;
}

.photoes img {
    width: 320px;
    height: 240px;
}

.two_photo {
    display: flex;
    margin: auto;
}

.one_photo {
    display: flex;
    justify-content: center;
    padding: 40px;
}

a:hover {
    color: red;
    text-decoration: none;
}

h5 {
    display: flex;
    justify-content: right;
    margin: 0;
}

p {
    padding: 15px 15px;
    text-indent: 15px;
}

.feature {
    font-weight: bold;
}

.featureValue {
    font-style: italic;
}